body{
    background-color: #0D0D0D;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}
h1,h2,h3{
    color: #ffffff;
}
a{
    color: #E50914;
}
a:hover{
    color:#FF3C38;
}
button{
    background-color: #E50914;
    color: #fff;
}
button:hover{
    background-color: #FF3C38;
}